params {
    fhir_dir        = "${projectDir}/data/JSON" 
    reference       = "${projectDir}/data/H37Rv.fasta"
    
    results_dir     = "${projectDir}/results"
}

process {
    errorStrategy = 'terminate'
}

report {
    enabled = true
    file = "$baseDir/results/runningstat/execution.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "$baseDir/results/runningstat/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "$baseDir/results/runningstat/dag.html"
    overwrite = true
}