params {
    fhir_dir        = "$baseDir/data/JSON" 
    reference       = "$baseDir/data/H37Rv.fasta" // https://www.ncbi.nlm.nih.gov/nuccore/NC_000962.3?report=fasta
    results_dir     = "$baseDir/results"
    version         = "1.0.0"
    snp_threshold   = 12 // https://doi.org/10.1016/S1473-3099(12)70277-3
}

process {
    errorStrategy = 'terminate'
}

report {
    enabled = true
    file = "$baseDir/results/runningstat/execution.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "$baseDir/results/runningstat/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "$baseDir/results/runningstat/dag.html"
    overwrite = true
}
